[submodule "creatures"]
	path = creatures
	url = git@github.com:BoneJarring/creatures.git
[submodule "business"]
	path = business
	url = git@github.com:BoneJarring/business.git
[submodule "utilities"]
	path = utilities
	url = git@github.com:BoneJarring/utilities
[submodule "bonejarringservice"]
	path = bonejarringservice
	url = git@github.com:BoneJarring/bonejarringservice
[submodule "gamemaster"]
	path = gamemaster
	url = git@github.com:BoneJarring/gamemaster
[submodule "characterSheet"]
	path = characterSheet
	url = git@github.com:BoneJarring/characterSheet.git
