[submodule "creatures"]
	path = creatures
	url = git@github.com:BoneJarring/creatures.git
[submodule "business"]
	path = business
	url = git@github.com:BoneJarring/business.git
[submodule "utilities"]
	path = utilities
	url = git@github.com:BoneJarring/utilities
